h1.repos {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
#repos-list {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}
#repos-list article {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}
#repos-list article strong {
  font-size: 1.2rem;
}
#repos-list article p {
  font-size: 1rem;
  color: #999;
  margin-top: 5px;
  line-height: 24px;
}
#repos-list article a {
  height: 42px;
  border-radius: 5px;
  border: 1px solid #da552f;
  background: none;
  margin-top: 20px;
  color: #da552f;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
#repos-list article a:hover {
  background: #da552f;
  color: #fff;
}
#repos-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
#repos-list,
#repos-filter {
  max-width: 700px;
  margin: 20px auto 0;
  padding: 0 20px;
}
