header#main-header {
    width: 100%;
    height: 60px;
    background: #da552f;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}